.form-box {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1000px;
    margin: auto;
    margin-top: 5px;
    background-color: #c7363d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-box h1 {
    text-align: center;
    color:  #ffffff;;

}

label {
    
    color:  #ffffff;;
    padding-top: 20px;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-box input,
.form-box select {
    width: 100%;
    margin-top: 5px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.form-box textarea {
    width: 100%;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    resize: vertical;
}

.form-box button {
    font-family:Arial, Helvetica, sans-serif ;
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-box button:hover {
    background-color: #f3f3f3;
}


fieldset {
    border: none;
    margin-top: 20px;
}

legend {
    font-weight: bold;
}